body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
nav {
  background-color: #000000; /* Cor do fundo do menu */
  color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
  color: white;
  background: radial-gradient(circle, #595959, #333);
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

nav a:hover {
  background-color: #747475; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  margin: 20px;
  text-decoration: double;
}

body a {
  text-align: center;
  color: #ffffff;
  margin: 20px;
}

.blink {
  font-size: 1, 2em; /* Tamanho da fonte */
  color: black; /* Cor inicial */
  animation: blink-animation 1s steps(2, start) infinite; /* Animação de piscar */
}

@keyframes blink-animation {
  0% {
    color: black;
  }
  50% {
    color: rgb(131, 131, 131);
  }
  100% {
    color: black;
  }
}

.container {
  border: 2px solid black; /* Borda do quadrado */
  border-radius: 15px; /* Bordas arredondadas */
  padding: 5px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  background-color: rgb(171, 171, 171); /* Cor de fundo */
  margin: 20px auto; /* Margem superior/inferior e centraliza horizontalmente */
  width: 15%; /* Largura do quadrado */
  max-width: 600px; /* Largura máxima */
}

.main {
  background-color: #595959;
}

img {
  text-align: right;
  border-image: auto;
}
