<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portilio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="/">Início</a>
      <a href="/sobre">Sobre</a>
      <a href="/servicos">Serviços</a>
      <a href="/contato">Contato</a>
      <a href="/produtos">Produtos</a>
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/threedsmax/threedsmax-original.svg"
        width="45px"
      />
    </nav>
    <div class="main">
      <h1>Bem-vindo ao meu Portilio!</h1>
      <p>Ola! Me chamo João Marcos, tenho 21 anos.</p>
      <p><strong>Se voce estava procurando um analista de dados</strong></p>
      <div class="container">
        <p><a href="/contatos" class="blink">Não esta mais</a></p>
      </div>
    </div>
  </body>
</html>
